<div class="pt-4">
    <div class="flex items-center flex-col">
        <span>
            Olá {{ usuario }}, seja bem vindo!
        </span>
        <div class="flex flex-col items-center pt-7">
            <span class="text-sm text-gray-300">Você está na página</span>
            <h1 class="text-6xl">Home</h1>
        </div>
        <div class="flex justify-start w-1/2 border border-gray-400 rounded-full gap-1">

            <mat-icon fontIcon="search" class="pl-1"></mat-icon>
            <input type="text" placeholder="Digite sua pesquisa" class="focus:outline w-full pl-3 rounded-br-full rounded-tr-full focus:border-none">
        </div>
    </div>

</div>