<div class="pt-4">
    <div class="flex items-center flex-col">
        <span>
            Olá {{ usuario }}, seja bem vindo!
        </span>
        <div class="flex flex-col items-center pt-7">
            <span class="text-sm text-gray-300">Você está na página</span>
            <h1 class="text-6xl">Home</h1>
        </div>
        
        <div class="flex justify-center w-full pt-10">
            <div class="flex justify-start items-center w-1/2 border border-gray-400 rounded-full gap-1 h-12 bg-gray-100">
                <div class="flex justify-center items-center pl-2 pr-1">
                    <mat-icon fontIcon="search" class=""></mat-icon>
                </div>
                <input type="text" placeholder="Digite sua pesquisa" class="focus:outline-0 w-full rounded-br-full rounded-tr-full focus:border-none">
            </div>

        </div>

    </div>

</div>