<div class="pt-10 px-10">
    <div class="flex gap-2">
        <button mat-icon-button [routerLink]="['..']">
            <mat-icon>arrow_back</mat-icon>
          </button>
        <h1 class="text-4xl font-light">
            <span *ngIf="isEdicao">
                Edição de Funcionário
            </span>
            <span *ngIf="!isEdicao">
                Cadastro de Funcionário
            </span>
        </h1>
    </div>
    <h2 class="text-gray-400 pt-5" *ngIf="!isEdicao">
        Cadastro
    </h2>
    <h2 class="text-gray-400 pt-5" *ngIf="isEdicao">
        Editar cadastro de funcionário
    </h2>
    <div class="w-hull pt-3">
        <div class="bg-gray-400 w-[90%] h-[1px]"></div>
    </div>
    <form [formGroup]="form" (ngSubmit)="salvar()" class="flex flex-col max-w-4xl">
        <div>
            <div class="flex flex-col pt-7">
                <label>Nome</label>
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput placeholder="Digite o nome do funcionário" class="w-full" [formControlName]="'nome'">
                </mat-form-field>
            </div>
    
            <div class="flex flex-col pt-1">
                <label>Data de Nascimento</label>
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput [matDatepicker]="pickerData" placeholder="dd/mm/aaaa" [formControlName]="'dataNascimento'">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerData"></mat-datepicker-toggle>
                    <mat-datepicker #pickerData></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="flex flex-col pt-1">
                <label>Telefone</label>
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput placeholder="(xx) x xxxx-xxxx" class="w-full" [formControlName]="'telefone'">
                </mat-form-field>
            </div>

            <div class="flex flex-col pt-1">
                <label>Email</label>
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput placeholder="Digite um email" class="w-full" [formControlName]="'email'">
                </mat-form-field>
            </div>
    
            <div class="grid grid-cols-2 gap-4">
                <div class="flex flex-col w-full">
                    <label>CPF</label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput placeholder="Digite o CPF do funcionário" class="w-full" [formControlName]="'cpf'">
                    </mat-form-field>
                </div>
    
                <div class="flex flex-col w-full">
                    <label>RG</label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput placeholder="Digite o RG do funcionário" class="w-full" [formControlName]="'rg'">
                    </mat-form-field>
                </div>
                
            </div>

            <div class="grid grid-cols-2 gap-4">
                <div class="flex flex-col pt-1">
                    <label>Data de Contratação</label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" [formControlName]="'dataContratacao'">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
    
                <div class="flex flex-col pt-1">
                    <label>Estado Civil</label>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-select placeholder="Selecione o estado civil" [formControlName]="'estadoCivil'">
                            <mat-option value="Solteiro">Solteiro(a)</mat-option>
                            <mat-option value="Casado">Casado(a)</mat-option>
                            <mat-option value="Divorciado">Divorciado(a)</mat-option>
                            <mat-option value="Viuvo">Viúvo(a)</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
            </div>


        </div>


        <button type="" class="bg-blue-400 rounded-lg h-11 hover:bg-blue-600 hover:text-white duration-300 hover:cursor-pointer">Gravar</button>
    </form>
</div>