<div class="flex flex-row-reverse w-full h-full">
    <!-- Image -->
    <div class="hidden md:block relative w-1/2 bg-[#06467a]">
        <div class="absolute inset-0 w-full h-full bg-gradient-to-r from-[#06467a] to-transparent">
            &nbsp;
        </div>
        <div class="w-full h-full">
            <img
                class="w-full h-full object-cover"
                src="images/bg-coleta-seletiva-1.jpg"
                alt="">
        </div>
    </div>
    <!-- Login -->
    <div class="w-full md:w-1/2 flex flex-col justify-center items-center p-4 md:p-12 bg-[#06467a]">
        <img
            class="max-w-2/3 md:max-w-xs relative"
            src="images/Logo.png"
            alt="">
        <div class="-mt-16 w-full flex flex-col justify-center items-center gap-6 p-12 bg-white rounded-md shadow-lg max-w-lg">
            <header class="mt-6">
                <p class="text-center">
                    <span class="text-3xl text-[#06467a] font-semibold">Login</span>
                </p>
                <p class="text-gray-600 text-center mt-4">
                    Informe seus dados de acesso para fazer login na plataforma.
                </p>
            </header>
            <form action="" class="w-full flex flex-col gap-4" [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
                
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input 
                        id="campoEmail"
                        matInput 
                        type="text" 
                        formControlName="email" 
                        class="bg-white rounded-2xl">
                    @if (formularioLogin.get('email')?.hasError('required')) {
                        <mat-error>
                            O campo email é <strong>obrigatório</strong>.
                        </mat-error>
                    }
                    @if (formularioLogin.get('email')?.hasError('email') && !formularioLogin.get('email')?.hasError('required')) {
                        <mat-error>
                            Insira um endereço de email válido.
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Senha</mat-label>
                    <input 
                        id="campoSenha"
                        matInput
                        type="password" 
                        formControlName="password"
                        class="bg-white rounded-2xl">

                    @if (formularioLogin.get('password')?.hasError('required')) {
                        <mat-error>O campo senha é <strong>obrigatório</strong>.</mat-error>
                    }
                    
                </mat-form-field>

                @if (loginSuccess == false) {
                    <div class="bg-red-200 text-red-800 border border-red-800 p-4 rounded-md">
                        {{ loginErrorMessage }}
                    </div>
                }

                <footer class="flex flex-col gap-6">
                    <button
                        type="submit"
                        class="p-4 text-lg text-white rounded-full bg-[#06467a] cursor-pointer disabled:bg-gray-600"
                        [disabled]="formularioLogin.invalid">
                        Entrar
                    </button>
                    <p class="text-center">
                        <a class="text-[#06467a] underline"  [routerLink]="'/recuperacao-senha'">
                            Esqueci minha senha
                        </a>
                    </p>
                </footer>
            </form>
        </div>
    </div>
</div>