<div class="pt-10 px-10">
    <div class="flex justify-between">
        <h1 class="text-4xl font-light">Motoristas</h1>
        <button class="flex items-center rounded-3xl px-5 py-2 text-white bg-green-600 hover:bg-green-800 cursor-pointer" [routerLink]="'novo'">
            <mat-icon 
                [fontIcon]="'add'" 
                class="mr-2"></mat-icon>
            Novo Motorista
        </button>
    </div>
    <h2 class="text-gray-400 pt-5">Exibindo {{ DadosListaMotoristas.length }} resultados</h2>
    <div class="w-hull pt-3">
        <div class="bg-gray-400 w-[90%] h-[1px]"></div>
    </div>
    <div class="w-full mt-5 max-w-6xl">

        <div class="bg-gray-200 grid grid-cols-[5%_45%_25%_25%] rounded-tl-2xl rounded-tr-2xl p-3 text-gray-400 text-sm">

            <div class="flex justify-center">
                <span class="font-medium">ID</span>
            </div>
            
            <div class="flex justify-start">
                <span class="font-medium ml-3">Nome do Motorista</span>
            </div>
            
            <div class="flex justify-center">
                <span class="font-medium">Registro</span>
            </div>

            <div class="flex justify-center">
                <span class="font-medium">Validade</span>
            </div>
            
        </div>

        <div *ngFor="let motorista of DadosListaMotoristas" class="hover:bg-gray-100">
            
            <a class="block p-3" [routerLink]="[motorista.ID_Motorista]">
                <div class="grid grid-cols-[5%_45%_25%_25%] text-sm">
                    <div class="flex justify-center">
                        <span class="">
                            {{ motorista.ID_Motorista }}
                        </span>
                    </div>
        
                    <div class="flex justify-start">
                        <span class="ml-3">
                            {{ motorista.Nome }}
                        </span>
                    </div>
        
                    <div class="flex justify-center">
                        <span class="">
                            {{ motorista.Numero_Registro }}
                        </span>
                    </div>
        
                    <div class="flex justify-center">
                        <span class="">
                            {{ motorista.Validade }}
                        </span>
                    </div>
                </div>
            </a>
                
        </div>
        
    </div>
</div>