<div class="flex justify-center items-center pt-5">
    <div class="flex items-center flex-col bg-[#06467ab1] w-full max-w-lg h-auto rounded-3xl mx-2">
        <div class="pt-5">
            <span class="text-3xl text-white font-semibold">Recuperar senha</span>
        </div>
        <div class="p- px-10 w-full">
            <form action="" [formGroup]="formularioRecuperacaoSenha" class="flex flex-col">
                

                <span class="text-white text-sm">Digite seu email</span>
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" class="bg-white rounded-2xl">
                    @if (formularioRecuperacaoSenha.get('email')?.hasError('email')) {
                        <mat-error>
                            Insira um endereço de email válido.
                        </mat-error>
                    }
                    @if (formularioRecuperacaoSenha.get('email')?.hasError('required')) {
                        <mat-error>
                            O campo email é <strong>obrigatório</strong>.
                        </mat-error>
                    }
                </mat-form-field>
                
                <div class="flex flex-col gap-2 pb-5 pt-2">

                    <button class="bg-blue-500 text-white rounded-3xl h-10 hover:bg-blue-600 cursor-pointer disabled:bg-gray-600" 
                        [disabled]="formularioRecuperacaoSenha.invalid">
                        Recuperar
                    </button>

                    <button class="bg-green-900 text-white rounded-3xl h-10 hover:bg-green-950 cursor-pointer" 
                        [routerLink]="'/login'">
                        Voltar ao login
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>