<div class="pt-10 px-10">
    <div class="flex gap-2">
        <button mat-icon-button [routerLink]="['..']">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h1 class="text-4xl font-light">
            <span *ngIf="isEdicao">
                Edição de movimentação
            </span>
            <span *ngIf="!isEdicao">
                Cadastro de movimentação
            </span>
        </h1>
    </div>
    <h2 class="text-gray-400 pt-5" *ngIf="!isEdicao">
        Cadastro
    </h2>
    <h2 class="text-gray-400 pt-5" *ngIf="isEdicao">
        Editar cadastro de movimentação
    </h2>
    <div class="w-full pt-3">
        <div class="bg-gray-400 w-[90%] h-[1px]"></div>
    </div>
    <form [formGroup]="form" (ngSubmit)="salvar()" class="grid grid-cols-1 lg:grid-cols-2 max-w-5xl">
        <div>

            <div class="flex flex-col pt-4">
                <label>Rota</label>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select placeholder="Selecione uma rota" [formControlName]="'idRota'">
                        <mat-option *ngFor="let rota of allRotas" [value]="rota.ID_Rota">Coleta: {{ rota.Nome }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex flex-col pt-1">
                <label>Tipo de Resíduo</label>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select placeholder="Selecione um tipo" [formControlName]="'categoria'">
                        <mat-option value="PL">Plástico</mat-option>
                        <mat-option value="ME">Metal</mat-option>
                        <mat-option value="OR">Orgânico</mat-option>
                        <mat-option value="PA">Papel</mat-option>
                        <mat-option value="VI">Vidro</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Campos de Quantidade e Chave de Triagem -->
            <div class="flex flex-col pt-1">
                <div class="flex flex-col w-full">
                    <label>Quantidade</label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput placeholder="Digite a quantidade"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '')" type="number" min="0"
                            class="w-full" [formControlName]="'quantidade'">
                    </mat-form-field>
                </div>
                <div class="flex flex-col w-full">
                    <label>Data de Entrada</label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput [matDatepicker]="picker" placeholder="dd/mm/aaaa" [formControlName]="'dataEntrada'">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

        </div>

        <div class="pl-10">
            <div class="flex-col pt-4">
                <h1 class="pl-2">Avisos</h1>
                <div class="flex flex-col gap-2">
                    <div class="flex items-center bg-gray-200 h-16 rounded-lg p-2 pl-4">
                        <mat-checkbox [formControlName]="'avisarEstoqueMax'">
                            <span>Avisar quando quantidade estiver próximo à capacidade máxima.</span>
                        </mat-checkbox>
                    </div>
                    <div class="flex items-center bg-gray-200 h-16 rounded-lg p-2 pl-4">
                        <mat-checkbox [formControlName]="'avisarEstoqueMin'">
                            <span>Avisar quando quantidade estiver próximo à capacidade mínima.</span>
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit"
            class="bg-blue-400 rounded-lg h-11 hover:bg-blue-600 hover:text-white duration-300 hover:cursor-pointer mt-4">
            Gravar
        </button>
    </form>
</div>