<div class="pt-10 px-10">
  <h1 class="text-4xl font-light">Cadastrar movimentação</h1>
  <div class="w-full pt-3">
    <div class="bg-gray-400 w-[90%] h-[1px]"></div>
  </div>

  <form [formGroup]="form" (ngSubmit)="salvar()" class="grid grid-cols-1 lg:grid-cols-2 max-w-5xl gap-4">
    
    <!-- CHAVE DE COLETA -->
    <div class="flex flex-col pt-1">
      <label for="ID_Coleta_Tipo_Residuo">Chave de coleta:</label>
      <mat-form-field appearance="outline" class="w-full">
        <mat-select placeholder="Selecione uma chave" [formControlName]="'ID_Coleta_Tipo_Residuo'">
          <mat-option *ngFor="let coleta of chavesColeta" [value]="coleta.ID_Coleta_Tipo_Residuo">
            {{ coleta.Nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- QUANTIDADE -->
    <div class="flex flex-col pt-1">
      <label for="Quantidade">Quantidade:</label>
      <mat-form-field appearance="outline" class="w-full">
        <input matInput type="number" min="0" step="1" placeholder="Quantidade em Kg" [formControlName]="'Quantidade'" />
      </mat-form-field>
    </div>

    <!-- DATA DE ENTRADA -->
    <div class="flex flex-col pt-1">
      <label for="Data_Entrada">Data de Entrada:</label>
      <mat-form-field appearance="outline" class="w-full">
        <input matInput type="date" placeholder="Selecione a data" [formControlName]="'Data_Entrada'" />
      </mat-form-field>
    </div>

    <!-- AVISOS -->
    <div class="pl-10">
      <div class="flex-col pt-7">
        <h1 class="pl-2">Avisos</h1>
        <div class="flex flex-col gap-2">
          <div class="flex items-center bg-gray-200 h-16 rounded-lg p-2 pl-4">
            <mat-checkbox [checked]="form.value.AvisarEstoqueMax === 'S'" (change)="form.patchValue({ AvisarEstoqueMax: $event.checked ? 'S' : 'N' })">
              Avisar quando quantidade estiver próximo à capacidade máxima.
            </mat-checkbox>
          </div>
          <div class="flex items-center bg-gray-200 h-16 rounded-lg p-2 pl-4">
            <mat-checkbox [checked]="form.value.AvisarEstoqueMin === 'S'" (change)="form.patchValue({ AvisarEstoqueMin: $event.checked ? 'S' : 'N' })">
              Avisar quando quantidade estiver próximo à capacidade mínima.
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>

    <!-- BOTÃO GRAVAR -->
    <div class="lg:col-span-2 flex justify-end pt-4">
      <button type="submit" class="bg-blue-400 rounded-lg h-11 px-6 hover:bg-blue-600 hover:text-white duration-300 hover:cursor-pointer">
        Gravar
      </button>
    </div>
  </form>
</div>
