<div class="w-full bg-[#f1f1f1] h-[calc(100vh-91px)]">
    <ul class="flex flex-col pt-2 gap-1">
        <li *ngFor="let item of itemsidebar" class="text-[#06467a] w-full max-w-96">
            <mat-expansion-panel class="!shadow-none !bg-[#f1f1f1] flex justify-end">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                            <mat-icon 
                            [fontIcon]="item.icon" 
                            class="mr-2"></mat-icon>

                            {{ item.label }}
                            
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <ul *ngIf="item.children" class="pl-6">
                        <li *ngFor="let child of item.children">
                            <a [routerLink]="child.url" 
                            class="block p-2 hover:bg-gray-200 rounded">
                                <span 
                                [routerLinkActive]="child.url"
                                [ngClass]="{ 'text-green-600': isActive(child.url) }"
                                >
                                    {{ child.label }}
                                </span>
                            </a>
                        </li>
                    </ul>
            </mat-expansion-panel>
        </li>
    </ul>
    
</div>                                  